body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}
body .header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}
body #navbar {
  overflow: hidden;
  background-color: #333;
}
body #navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
body #navbar a:hover {
  background-color: #ddd;
  color: black;
}
body #navbar a.active {
  background-color: #4CAF50;
  color: white;
}
body .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: transform 0.3s ease;
  will-change: transform;
}
body .sticky.hide {
  transform: translateY(-100%);
}

/*# sourceMappingURL=theme.css.map */
