body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;

  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }

  #navbar {
    overflow: hidden;
    background-color: #333;

    a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;

      &:hover {
        background-color: #ddd;
        color: black;
      }

      &.active {
        background-color: #4CAF50;
        color: white;
      }
    }
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    transition: transform .3s ease;
    will-change: transform;

    &.hide {
      transform: translateY(-100%);
    }
  }
}
